<h1>Editing user_spelling_pattern</h1>

<%= render 'form' %>

<%= link_to 'Show', [@language_project, @user_spelling_pattern] %> |
<%= link_to 'Back', language_project_user_spelling_patterns_path(@language_project) %>
